# Dependências
node_modules/

# Arquivos de ambiente
.env
.env.local
.env.*.local
.dev.vars

# Logs
*.log
npm-debug.log*

# Cache e build
.DS_Store
dist/
build/
.wrangler/
.cache/

# Editor
.vscode/
.idea/
*.swp